export EGL_PLATFORM="wayland"
export XDG_SESSION_TYPE="wayland"
export LIBVA_DRIVER_NAME="nvidia"
export __GLX_VENDOR_LIBRARY_NAME="nvidia"
export MOZ_ENABLE_WAYLAND=1
export NVD_BACKEND=direct
export MOZ_DISABLE_RDD_SANDBOX=1

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_RUNTIME_DIR="/run/user/$UID"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CONFIG_DIRS="/etc/xdg"
export XDG_DATA_DIRS="/usr/local/share:/usr/share"
export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"

export HISTFILE="$XDG_STATE_HOME/bash/history"
export CUDA_CACHE_PATH="$XDG_CACHE_HOME/nv"
export DOTNET_CLI_HOME="$XDG_DATA_HOME/dotnet"
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export EDITOR="hx"
export ANSIBLE_HOME="$XDG_DATA_HOME/ansible"
export GOPATH="/usr/local/lib/go"
export PYTHON_HISTORY="$XDG_STATE_HOME/python"
export NPM_CONFIG_PREFIX="/usr/local/lib/npm-global"
export NPM_CONFIG_INIT_MODULE="$XDG_CONFIG_HOME/npm/config/npm-init.js"
export NPM_CONFIG_CACHE="$XDG_CACHE_HOME/npm"
export NPM_CONFIG_TMP="$XDG_RUNTIME_DIR/npm"
export PNPM_HOME="$HOME/.local/share/pnpm"
export RUSTUP_HOME="/usr/local/lib/rustup"
export CARGO_HOME="/usr/local/lib/cargo"

export PATH="$PATH:/usr/lib64/ccache"
export PATH="$PATH:/sbin"
export PATH="$PATH:/bin"
export PATH="$PATH:/usr/sbin"
export PATH="$PATH:/usr/bin"
export PATH="$PATH:/usr/local/sbin"
export PATH="$PATH:/usr/local/bin"
export PATH="$PATH:/usr/games"
export PATH="$PATH:/usr/local/games"
export PATH="$PATH:$HOME/bin"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:/usr/local/go/bin"
export PATH="$PATH:$NPM_CONFIG_PREFIX/bin"
export PATH="$PATH:$GOPATH/bin"
export PATH="$PATH:$CARGO_HOME/bin"
