set -gx XDG_CONFIG_HOME "$HOME/.config"
set -gx XDG_DATA_HOME "$HOME/.local/share"
set -gx XDG_CACHE_HOME "$HOME/.cache"
set -gx XDG_RUNTIME_DIR "/run/user/$UID"
set -gx XDG_STATE_HOME "$HOME/.local/state"
set -gx XDG_CONFIG_DIRS "/etc/xdg"
set -gx XDG_DATA_DIRS "/usr/local/share:/usr/share"
set -gx XDG_DESKTOP_DIR "$HOME/Desktop"
set -gx XDG_DOWNLOAD_DIR "$HOME/Downloads"

set -gx ZDOTDIR "$XDG_CONFIG_HOME/zsh"
set -gx EDITOR "/usr/local/bin/hx"
set -gx ANSIBLE_HOME "$XDG_DATA_HOME/ansible"
set -gx GOPATH "/usr/local/lib/go"
set -gx PYTHON_HISTORY "$XDG_STATE_HOME/python"
set -gx NPM_CONFIG_PREFIX "/usr/local/lib/npm-global"
set -gx RUSTUP_HOME "/usr/local/lib/rustup"
set -gx CARGO_HOME "/usr/local/lib/cargo"

set -gx PATH "/usr/lib64/ccache"
set -gx PATH $PATH /sbin
set -gx PATH $PATH /bin
set -gx PATH $PATH /usr/sbin
set -gx PATH $PATH /usr/bin
set -gx PATH $PATH /usr/local/sbin
set -gx PATH $PATH /usr/local/bin
set -gx PATH $PATH /usr/games
set -gx PATH $PATH /usr/local/games
set -gx PATH $PATH $HOME/bin
set -gx PATH $PATH $HOME/.local/bin
set -gx PATH $PATH /usr/local/go/bin
set -gx PATH $PATH $NPM_CONFIG_PREFIX/bin
set -gx PATH $PATH $GOPATH/bin
set -gx PATH $PATH $CARGO_HOME/bin
