font_family      JetBrainsMono Nerd Font
bold_font        JetBrainsMono Nerd Font, Bold
italic_font      JetBrainsMono Nerd Font, Italic
bold_italic_font JetBrainsMono Nerd Font, Bold Italic
font_size 11.0
disable_ligatures always
enable_audio_bell no
window_border_width 1.5pt
window_margin_width 2
single_window_margin_width 0
tab_bar_style powerline
shell_integration enabled
map kitty_mod+f5 load_config_file
map F1 new_window_with_cwd
map F2 launch --type=tab --cwd=current hx .
map F3 launch --cwd=current hx .

# BEGIN_KITTY_THEME
# Kaolin Galaxy
include current-theme.conf
# END_KITTY_THEME
