auto-update = check
auto-update-channel = tip
shell-integration = zsh
theme = kanagawabones
font-family = JetBrainsMono Nerd Font
font-size = 12
font-feature = -calt
font-feature = -liga
font-feature = -dlig
window-decoration = false
